[submodule "nvim-window-picker"]
	path = nvim-window-picker
	url = git@github.com:wochap/nvim-window-picker.git
[submodule "img-clip.nvim"]
	path = img-clip.nvim
	url = git@github.com:wochap/img-clip.nvim.git
[submodule "nvim-treesitter-context"]
	path = nvim-treesitter-context
	url = git@github.com:wochap/nvim-treesitter-context.git
[submodule "git-conflict.nvim"]
	path = git-conflict.nvim
	url = git@github.com:wochap/git-conflict.nvim.git
[submodule "lsp-lens.nvim"]
	path = lsp-lens.nvim
	url = git@github.com:wochap/lsp-lens.nvim.git
[submodule "bufferline.nvim"]
	path = bufferline.nvim
	url = git@github.com:wochap/bufferline.nvim.git
[submodule "noice.nvim"]
	path = noice.nvim
	url = git@github.com:wochap/noice.nvim.git
[submodule "nvim-highlight-colors"]
	path = nvim-highlight-colors
	url = git@github.com:wochap/nvim-highlight-colors.git
